<div style="margin-top: 1em">
  <div class="row">
    <div class="col-lg-8">
      <app-products (addToCartEvent)="cart= $event" [parentData]="itemVoid" [cart]="cart">
      </app-products>
    </div>
    <div class="col-lg-4">
      <div class="cart">

        <!-- TABLE -->
        <form action="">
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col" style="width:40%;">ITEM</th>
                  <th scope="col">PRICE</th>
                  <th scope="col">QTY</th>
                  <th scope="col">SUBTOTAL</th>
                  <th scope="col" style="width:10%;"></th>
                </tr>
              </thead>
              <tbody style="font-weight: bold;font-size: 15px;">
                <tr *ngFor="let items of cart; let i = index">
                  <td>{{items.prodName}}</td>
                  <td>{{items.price | currency: '‎₱'}}</td>
                  <td>{{items.qty}}</td>
                  <td>{{items.subTotal | currency : '‎₱'}}</td>
                  <td><span class="fa fa-window-close fa-2x text-dark" style="cursor: pointer;" (click)="openVoidItemConfirmation(i, items.id, items.prodName,
                      voidItemConfirmation)" data-toggle="tooltip" data-placement="top" title="Remove Item"></span>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>

          <!-- FOOTER -->
          <div class="result">

            <!-- CLEAR LIST BUTTON -->
            <div style="margin-right: 1em;">
              <button class="btn btn-outline-dark btn-block btn-lg" data-toggle="tooltip" data-placement="top"
                title="Clear List" (click)="openVoidAllItemConfirmation(voidAllItemConfirmation)" *ngIf="cart.length >
                0"><span class="fa fa-trash-alt fa-lg"></span></button>

              <hr>
              {{calculate()}}

              <!-- SENIOR CITIZEN / PWD RADIO BUTTON -->
              <div class="btn-group btn-group-toggle" data-toggle="buttons" style="margin-bottom: 1em;">
                <label class="btn btn-secondary active">
                  <input type="radio" value="regular" name="rbtn" (click)="rbtnChange($event.target.value)" checked>
                  Regular
                </label>
                <label class=" btn btn-secondary">
                  <input type="radio" value="sc_pwd" name="rbtn" (click)="rbtnChange($event.target.value)"> Senior
                  Citizen / PWD
                </label>
              </div>


              <!-- SUB TOTAL -->
              <div class="row">
                <div class="col-sm-6">
                  <label>VATable Sales:</label>
                </div>
                <div class="col-sm-6" style="text-align:right;font-size: 20px;">
                  <b>{{getSubtotal() | currency : '‎₱'}}</b>
                </div>
              </div>

              <!-- VAT -->
              <div class="row">
                <div class="col-sm-6">
                  <label>VAT Amount 12%:</label>
                </div>
                <div class="col-sm-6" style="text-align:right;font-size: 20px;">
                  <b>{{getChargeTax() | currency : '‎₱'}}</b>
                </div>
              </div>

              <!-- DISCOUNT -->
              <div class="row">
                <div class="col-sm-6">
                  <label>Discount 20%:</label>
                </div>
                <div class="col-sm-6" style="text-align:right;font-size: 20px;">
                  <b>{{getDiscount() | currency : '‎₱'}}</b>
                </div>
              </div>

              <!-- TOTAL -->
              <div class="row">
                <div class="col-sm-6">
                  <label>Grand Total:</label>
                </div>
                <div class="col-sm-6" style="text-align:right;font-size: 20px;">
                  <b>{{getGrandTotal() | currency : '‎₱'}}</b>
                </div>
              </div>

              <!-- CHECKOUT BUTTON -->
              <button type="submit" class="btn btn-dark btn-block btn-lg" style="margin-top:1em;" id="btnCheckout"
                data-toggle="tooltip" data-placement="top" title="Checkout" (click)="openCheckoutModal(checkoutForm)"
                *ngIf="cart.length" [disabled]="this.checkoutClicked"><span
                  class="fa fa-shopping-cart fa-lg"></span></button>

            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<ng-template #checkoutForm let-modal>
  <div class="modal-body">
    <div class="modal-header">
      <h1 class="display-1" style="font-size:30px;">Checkout Form</h1><br>
      <span type="button" class="close" (click)="modal.dismiss(); this.checkoutClicked = false" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </span>
    </div>
    <div style="padding:1em 0em 0em 0em;">

      <form [formGroup]="checkOutForm"
        (ngSubmit)="checkOut(this.checkOutForm.value, cart, getSubtotal(), getChargeTax(), getDiscount(),getGrandTotal(),receiptForm)">
        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <label for="cash">Cash:</label>
              <div class="input-group mb-3">

                <div class="input-group-prepend">
                  <span class="input-group-text">‎₱</span>
                </div>

                <input type="number" class="form-control form-control-lg" aria-describedby="basic-addon2" id="cash"
                  formControlName="cash" (blur)="logValidationErrors()" (input)="logValidationErrors()"
                  (keypress)="cashKeypress($event)">
              </div>
            </div>
          </div>
        </div>
        <div>
          <span class="text-danger" style="padding:0px;" role="alert" *ngIf="this.formErrors.cash">
            {{this.formErrors.cash}}
          </span>
        </div>
        <br>

        <button type="submit" class="btn btn-dark btn-block btn-lg" [disabled]="this.checkOutForm.invalid"><span
            class="fa fa-check fa-lg"></span></button>

      </form>
    </div>
  </div>
</ng-template>

<!-- RECEIPT FORM -->
<ng-template #receiptForm let-modal>
  <div class="modal-body">
    <div class="modal-header">
      <h1 class="display-1" style="font-size:30px;">Receipt</h1><br>
      <span type="button" class="close" (click)=" resetCart();modal.dismiss();" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </span>
    </div>

    <div style="padding:1em 0em 0em 0em;">
      <div class="row">
        <div class="col">
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col" style="width:40%;">ITEM</th>
                  <th scope="col">PRICE</th>
                  <th scope="col">QTY</th>
                  <th scope="col">SUBTOTAL</th>
                </tr>
              </thead>
              <tbody style="font-weight: bold;font-size: 15px;">
                <tr *ngFor="let items of cart; let i = index">
                  <td>{{items.prodName}}</td>
                  <td>{{items.price | currency: '‎₱'}}</td>
                  <td>{{items.qty}}</td>
                  <td>{{items.subTotal | currency : '‎₱'}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <label for="vatablesales">VATable Sales: </label><br>
          <label for="vatAmount">VAT Amount: </label><br>
          <label for="discount">Discount: </label><br>
          <label for="grandTotal">Grand Total: </label><br>
          <label for="cash">Cash: </label><br>
          <label for="changed">Changed: </label>
        </div>
        <div class="col text-right">
          <strong id="vatablesales" style="font-size: 20px;margin-left:1em;">
            <!-- {{this.transaction[0].vatableSales |  currency: '‎₱'}} -->
            {{getSubtotal() | currency: '‎₱'}}
          </strong><br>
          <strong id="vatAmount" style="font-size: 20px;margin-left:1em;">
            <!-- {{this.transaction[0].vatAmount |  currency: '‎₱'}} -->
            {{getChargeTax() | currency: '‎₱'}}
          </strong><br>
          <strong id="discount" style="font-size: 20px;margin-left:1em;">
            <!-- {{this.transaction[0].discount |  currency: '‎₱'}} -->
            {{getDiscount() | currency: '‎₱'}}
          </strong><br>
          <strong id="grandTotal" style="font-size: 20px;margin-left:1em;">
            <!-- {{this.transaction[0].grandTotal |  currency: '‎₱'}} -->
            {{getGrandTotal() | currency: '‎₱'}}
          </strong><br>
          <strong id="cash" style="font-size: 20px;margin-left:1em;">
            <!-- {{this.transaction[0].cash |  currency: '‎₱'}} -->
            {{getCash() | currency: '‎₱'}}
          </strong><br>
          <strong id="changed" style="font-size: 20px;margin-left:1em;">
            <!-- {{this.transaction[0].changed |  currency: '‎₱'}} -->
            {{getChanged() | currency: '‎₱'}}
          </strong><br>
        </div>
      </div>
      <br>

      <button type="submit" class="btn btn-dark btn-block btn-lg" [disabled]="this.checkOutForm.invalid"
        (click)="resetCart();modal.dismiss();"><span class="fa fa-print fa-lg"></span></button>

    </div>
  </div>
</ng-template>

<ng-template #voidItemConfirmation let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-title">Void Item</h4>
    <button type="button" class="close" aria-label="Close button" aria-describedby="modal-title"
      (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p><strong>Are you sure you want to void <span class="text-primary">"{{this.removeItem[0]['prodName']}}"</span>
        in the cart?</strong></p>
    <p>The selected item associated to this cart will be removed.
      <span class="text-danger">This operation can not be undone.</span>
    </p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary" (click)="modal.dismiss('cancel click')">Cancel</button>
    <button type="button" ngbAutofocus class="btn btn-danger" (click)="remove(); modal.dismiss()">Ok</button>
  </div>
</ng-template>

<!--  -->
<ng-template #voidAllItemConfirmation let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-title">Void Item</h4>
    <button type="button" class="close" aria-label="Close button" aria-describedby="modal-title"
      (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p><strong>Are you sure you want to void the<span class="text-primary">"all items"</span>
        in the cart?</strong></p>
    <p>All item(s) associated to this cart will be removed.
      <span class="text-danger">This operation can not be undone.</span>
    </p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary" (click)="modal.dismiss('cancel click')">Cancel</button>
    <button type="button" ngbAutofocus class="btn btn-danger" (click)="removeAll(cart); modal.dismiss()">Ok</button>
  </div>
</ng-template>
